.css-13cymwt-control {
    background-color: #1d2a39 !important;
    border-color: #3C50E0 !important;


}

.css-1p3m7a8-multiValue {
    background-color: gray !important;
    color: #fff;
}


.css-1y7rh0y-MultiValueGeneric2 {
    color: #fff !important;
}